def {{ tool.name }}({{ param_signature }}) -> dict:
    """{{ tool.description }}"""
    client = boto3.client('{{ mapping.boto3_client }}')
    params = {}
{% for boto3_key, param_name in mapping.boto3_params.items() %}
    if {{ param_name }} is not None:
        params['{{ boto3_key }}'] = {{ param_name }}
{% endfor %}
    params.update(kwargs)
    return client.{{ mapping.boto3_method }}(**params)
